<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>云梯关于我们</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        html, body {
            width: 100%;
            height: 100%;
        }

        body {
            font-size: 16px;
        }

        ul, li {
            list-style: none;
        }

        .cont_contair {
            width: 100%;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            padding: .5rem;
            box-sizing: border-box;
            color: black;
        }

        ::-webkit-scrollbar {
            display: none;
        }

        .cont_contair h3 {
            text-align: center;
            margin: 1rem auto;
        }

        .cont_contair p {
            text-align: left;
            font-size: .85rem
        }

        .cont_contair p span {
            font-weight: bold;
        }

        .introduce {
            margin: 1rem auto;
        }

        .introduce ul li:first-of-type, .introduce ul li:last-of-type {
            margin-top: .5rem;
        }

        .overview h4, .overview_content h4 {
            text-align: left;
        }

        .overview_content {
            margin: 1rem auto;
        }

        .overview_content > ul > li {
            margin: .4rem auto;
        }

        .overview_content > ul > li > h4 {
            margin-bottom: .25rem;
        }

        .overview_content p {
            color: #333;
        }
    </style>
</head>
<body>
<div class="cont_contair">
    <h3>云梯隐私政策</h3>
    <p><img src="http://img5.imgtn.bdimg.com/it/u=3300305952,1328708913&fm=26&gp=0.jpg"/></p>
    <p><span>［特别提示］</span>请仔细阅读《云梯隐私政策》并确定了解我们对您个人信息的处理规则。如您不同意协议中的任何条款，您应立即停止访问。</p>
    <p><span>《云梯隐私政策》正文</span></p>
    <p>版本更新日期：2019年01月19日</p>


    <div class="introduce">
        <p>引言</p>
        <p>
            云梯（“我们”）非常重视用户的隐私和个人信息保护。您的信任是对我们最大的支持。我们深知个人信息对您的重要性，我们将按照国际法律法规所要求，采取相应的安全保护措施，尽力保证您信息的安全。无论您是通过计算机设备（域名www.clqc.com）、移动终端还是其他设备获得的云梯服务。我们将给予您以下承诺：</p>
        <ul>
            <li>
                <p>
                    <span>安全可靠：</span>我们竭尽全力通过合理有效的信息安全技术及管理流程，防止您的信息泄露、损毁、丢失。
                </p>
            </li>
            <li>
                <p>
                    <span>自主选择：</span>我们为您提供便利的信息管理选项，以便您做出合适的选择，管理您的个人信息。 保护通信秘密：我们严格遵照法律法规，保护您的通信秘密，为您提供安全的通信服务。
                </p>
            </li>
            <li>
                <p>
                    <span>合理必要：</span>为了向您和其他用户提供更好的服务，我们仅收集必要的信息。
                </p>
            </li>
            <li>
                <p>
                    <span>清晰透明：</span>我们努力使用简明易懂的表述，向您介绍隐私条款，以便您清晰地了解我们的信息处理方式。
                </p>
            </li>
            <li>
                <p>
                    <span>将隐私保护融入产品设计：</span>我们在产品或服务开发的各个环节，综合法律、产品、设计等多方因素，融入隐私保护的理念。
                </p>
            </li>
            <li>
                <p>
                    在使用云梯产品和服务前，请您务必仔细阅读并已全部理解本条款的所有内容，您一旦开始使用相关的产品和服务，即表示您已全部理解并同意本条款。
                </p>
            </li>
        </ul>
    </div>
    <div class="overview">
        <h4>概述</h4>
        <p>本政策将帮助您了解以下内容：</p>
        <ul>
            <li>
                <p>一、个人信息的搜索</p>
            </li>
            <li>
                <p>二、如何使用搜索的信息</p>
            </li>
            <li>
                <p>三、个人信息的管理</p>
            </li>
            <li>
                <p>四、您如何管理的自己的信息</p>
            </li>
            <li>
                <p>五、个人的保护</p>
            </li>
            <li>
                <p>六、存储信息的地点和期限</p>
            </li>
            <li>
                <p>七、安全信息</p>
            </li>
            <li>
                <p>八、未成年人隐私权特别约定</p>
            </li>
            <li>
                <p>九、本政策的适用范围</p>
            </li>
            <li>
                <p>十、本政策变更说明</p>
            </li>
        </ul>
    </div>
    <div class="overview_content">
        <ul>
            <li>
                <h4>一、个人信息的搜集</h4>
                <p>个人信息指以电子或者其他方式记录的能够单独或者其他信息结合识别特定自然人身份或 者反映特定自然人活动情况的各种信息。

                    您已知悉且同意，在您注册云梯账号或使用云梯提供的各项服务时，云梯将记录您的个人信息，如：姓名、手机号等，上述个人信息是您获得云梯服务的基础。同时，基于优化用户体验的目的，云梯会获取提升云梯服务的相关其他信息，例如在您使用云梯时，我们会搜集哪些服务最受欢迎及程度、使用的频次、浏览器的软件信息等以便更好的优化我们的服务。</p>
                <h5>1.1您在使用我们服务时主动提供的信息</h5>
                <ul>
                    <li>
                        <p>1.1.1 您在注册帐户时填写的信息。</p>
                        <p>例如，您在注册云梯账号时所填写的用户名、手机号码、验证码等。</p>
                    </li>
                    <li>
                        <p>1.1.2 您在使用服务时上传的信息。</p>
                        <p>例如，您在使用云梯时，上传的头像、附件等。<br/>我们的部分服务可能需要您提供特定的个人敏感信息来实现特定功能。若您选择不提供该类
                            信息，则可能无法正常使用服务中的特定功能，但不影响您使用服务中的其他功能。若您主动提供您的个人敏感信息，即表示您同意我们按本条款所述目的和方式来处理您的个人敏感 信息。</p>
                    </li>
                </ul>
                <h5>1.2我们在您使用服务时获取的信息</h5>
                <ul>
                    <li>
                        <p>1.2.1 日志信息。当您使用我们的服务时，我们可能会自动收集相关信息并存储为服务日志信息。</p>
                    </li>
                    <li>
                        <p>(1) 设备信息。例如，设备型号、操作系统版本、唯一设备标识符、电池、信号强度等信息。</p>
                    </li>
                    <li>
                        <p>(2) 软件信息。例如，软件的版本号、浏览器类型。为确保操作环境的安全或提供服务所需，我们会收集有关您使用的移动应用和其他软件的信息。</p>
                    </li>
                    <li>
                        <p>(3) IP地址。</p>
                    </li>
                    <li>
                        <p>1.2.2 位置信息。当您使用与位置有关的服务时，我们可能会记录您设备所在的位置信息，以便为您提供相关服务。</p>
                    </li>
                    <li>
                        <p>(1) 在您使用服务时，我们可能会通过IP地址、GPS、WiFi或基站等途径获取您的地理位置信息；</p>
                    </li>
                    <li>
                        <p>(2) 您或其他用户在使用服务时提供的信息中可能包含您所在地理位置信息，例如您提供的帐号信息中可能包含的您所在地区信息；</p>
                    </li>
                    <li>
                        <p>1.2.3
                            其他相关信息。为了帮助您更好地使用我们的产品或服务，我们会收集相关信息。例如，我们收集的好友列表、群列表信息等。为确保您使用我们服务时能与您认识的人进行联系，如您选择开启导入通讯录功能，我们可能对您联系人的姓名和电话号码进行加密，并仅收集加密后的信息。</p>
                    </li>
                </ul>
                <h5>1.3其他用户分享的信息中含有您的信息</h5>
            </li>
            <li>
                <h4>二、如何使用搜索的信息</h4>
                <ul>
                    <li>
                        <h5>2.1向您提供服务。</h5>
                    </li>
                    <li>
                        <h5>2.2满足您的个性化需求。</h5>
                        <p>
                            例如，语言设定、位置设定、个性化的帮助服务。
                        </p>
                    </li>
                    <li>
                        <h5>2.3产品开发和服务优化。</h5>
                        <p>
                            例如，当我们的系统发生故障时，我们会记录和分析系统故障时产生的信息，优化我们的服务。
                        </p>
                    </li>
                    <li>
                        <h5>2.4安全保障。</h5>
                        <p>
                            例如，我们会将您的信息用于身份验证、安全防范、反诈骗监测、存档备份、客户的安全服务等用途。例如，您下载或安装的安全软件会对恶意程序或病毒进行检测，或为您识别诈骗信息。
                        </p>
                    </li>
                    <li>
                        <h5>2.5管理软件。</h5>
                        <p>
                            例如，进行软件认证、软件升级等。
                        </p>
                    </li>
                    <li>
                        <h5>2.6邀请您参与有关我们服务的调查。</h5>
                        <p>
                            为了让您有更好的体验、改善我们的服务或经您同意的其他用途，在符合相关法律法规的前提下，我们可能将通过某些服务所收集的信息用于我们的其他服务。<br/>为了确保服务的安全，帮助我们更好地了解我们应用程序的运行情况，我们可能记录相关信息，例如，您使用应用程序的频率、故障信息、总体使用情况、性能数据以及应用程序的来源。我们不会将我们存储在分析软件中的信息与您在应用程序中提供的个人身份信息相结合。
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <h4>三、个人信息的管理</h4>
                <p>为了能够给客户提供更好的产品和服务，云梯会以下情形使用您的个人信息：</p>
                <ul>
                    <li>
                        <p>（1）根据相关法律法规的要求；</p>
                    </li>
                    <li>
                        <p>（2）取得您的授权；</p>
                    </li>
                    <li>
                        <p>（3）根据云梯相关服务条款、应用许可使用协议的范围；</p>
                    </li>
                </ul>
                <p>此外，您已经知悉并同意：在法律法规允许的范围内，云梯可能会将您非隐私的个人信息用于市场营销，使用方式包括但不限于：向您通告云梯系统的更新迭代，展示云梯最新的功能等。<br/>未经您本人允许，云梯不会向任何第三方披露您的个人信息，下列情形除外：
                </p>
                <ul>
                    <li>
                        <p>（1）云梯已经获得了您或您监护人的书面授权；</p>
                    </li>
                    <li>
                        <p>（2）司法机关或行政机关法定程序所要求的；</p>
                    </li>
                    <li>
                        <p>（3）云梯为维护自身合法权益而向用户提起诉讼或仲裁时；</p>
                    </li>
                    <li>
                        <p>（4）法律法规规定的其他情形。</p>
                    </li>
                </ul>
            </li>
            <li>
                <h4>四、您如何管理自己的信息</h4>
                <p>
                    您可以在使用我们服务的过程中，访问、修改和删除您提供的注册信息和其他个人信息，也可按照通知指引与我们联系。您访问、修改和删除个人信息的范围和方式将取决于您使用的具体服务。例如，若您在使用地理位置相关服务时，希望停止分享您的地理位置信息，您可通过手机定位关闭功能、软硬件服务商及通讯服务提供商的关闭方式停止分享，建议您仔细阅读相关指引。</p>
                <ul>
                    <li>
                        <p>
                            4.1我们将按照本条款所述，仅为实现我们产品或服务的功能，收集、使用您的信息。如您发现我们违反法律、行政法规的规定或者双方的约定收集、使用您的个人信息，您可以要求我们删除。如您发现我们收集、存储的您的个人信息有错误的，您也可以要求我们更正。</p>
                    </li>
                    <li>
                        <p>4.2在您访问、修改和删除相关信息时，我们可能会要求您进行身份验证，以保障帐号的安全。</p>
                    </li>
                    <li>
                        <p>4.3请您理解，由于技术所限、法律或监管要求，我们可能无法满足您的所有要求，我们会在合理的期限内答复您的请求。</p>
                    </li>
                </ul>
            </li>
            <li>
                <h4>五、个人信息的保护</h4>
                <p>云梯将尽一切合理努力保护其获得的用户个人信息。为防止用户个人信息在意外的、未 经授权的情况下被非法访问、复制、修改、传送、遗失、破坏、处理或使用，云梯已经并将继续采取以下措施保护您的个人信息：</p>
                <ul>
                    <li>
                        <p>（1）以适当的方式对用户的个人信息进行加密处理；</p>
                    </li>
                    <li>
                        <p>（2）在适当的位置使用密码对用户个人信息进行保护；</p>
                    </li>
                    <li>
                        <p>（3）限制对用户个人信息的访问；</p>
                    </li>
                    <li>
                        <p>（4）其他的合理措施</p>
                    </li>
                </ul>
                <p>
                    尽管已经采取了上述合理有效措施，并已经遵守了相关法律规定要求的标准，但云梯仍然无法保证您的个人信息通过不安全途径进行交流时的安全性。因此，用户个人应采取积极措施保证个人信息的安全，如：定期修改帐号密码，不将自己的帐号密码等个人信息透露给别人。<br/>您知悉：云梯提供的个人信息保护措施仅适用于云梯业务系统，一旦您离开云梯浏览或使用其他网站、服务及内容资源，云梯即没有能力及义务保护您在网站提交的任何个人信息。
                </p>
            </li>
            <li>
                <h4>六、存储信息的地点和期限</h4>
                <ul>
                    <li>
                        <h5>6.1存储信息的地点</h5>
                        <p>我们遵守法律法规的规定，将境内收集的用户个人信息存储于境内。</p>
                    </li>
                    <li>
                        <h5>6.2存储信息的期限</h5>
                        <p>一般而言，我们仅为实现目的所必需的最短时间保留您的个人信息。但在下列情况下，我们有可能因需符合法律要求，更改个人信息的存储时间：</p>
                        <ul>
                            <li>
                                <p>6.2.1 为遵守适用的法律法规等有关规定；</p>
                            </li>
                            <li>
                                <p>6.2.2 为遵守法院判决、裁定或其他法律程序的规定；</p>
                            </li>
                            <li>
                                <p>6.2.3 为遵守相关政府机关或法定授权组织的要求；</p>
                            </li>
                            <li>
                                <p>6.2.4 我们有理由确信需要遵守法律法规等有关规定；</p>
                            </li>
                            <li>
                                <p>6.2.5 为执行相关服务协议或本条款、维护社会公共利益，为保护我们的客户、我们或我们的关联公司、其他用户或雇员的人身财产安全或其他合法权益所合理必需的用途。</p>
                            </li>
                        </ul>
                        <p>
                            当我们的产品或服务发生停止运营的情形时，我们将采取例如，推送通知、公告等形式通知您，并在合理的期限内删除或匿名化处理您的个人信息。
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <h4>七、安全信息</h4>
                <p>我们为您的信息提供相应的安全保障，以防止信息的丢失、不当使用、未经授权访问或披露。</p>
                <ul>
                    <li>
                        <p>7.1我们严格遵守法律法规保护用户的通信秘密。</p>
                    </li>
                    <li>
                        <p>7.2我们将在合理的安全水平内使用各种安全保护措施以保障信息的安全。例如，我们使用加密技术（例如，TLS、SSL）、匿名化处理等手段来保护您的个人信息。</p>
                    </li>
                    <li>
                        <p>7.3我们建立专门的管理制度、流程和组织确保信息安全。例如，我们严格限制访问信息的人员范围，要求他们遵守保密义务，并进行审查。</p>
                    </li>
                    <li>
                        <p>7.4若发生个人信息泄露等安全事件，我们会启动应急预案，阻止安全事件扩大，并以推送通知、公告等形式告知您。</p>
                    </li>
                </ul>
            </li>
            <li>
                <h4>八、未成年人隐私权特别约定</h4>
                <p>我们非常重视对未成年人个人信息的保护：</p>
                <ul>
                    <li>
                        <p>8.1我们期望父母或监护人指导未成年人使用我们的服务。我们将根据国家相关法律法规的规定保护未成年人的个人信息的保密性及安全性。</p>
                    </li>
                    <li>
                        <p>
                            8.2如您为未成年人，建议请您的父母或监护人阅读本政策，并在征得您父母或监护人同意的前提下使用我们的服务或向我们提供您的信息。对于经父母或监护人同意而收集您的信息的情况，我们只会在受到法律允许、父母或监护人明确同意或者保护您的权益所必要的情况下使用或公开披露此信息。如您的监护人不同意您按照本政策使用我们的服务或向我们提供信息，请您立即终止使用我们的服务并及时通知我们，以便我们采取相应的措施。</p>
                    </li>
                </ul>
            </li>
            <li>
                <h4>九、本政策的适用范围</h4>
                <p>
                    我们的所有服务均适用本条款。但某些服务有其特定的隐私指引/声明，该特定隐私指引/声明更具体地说明我们在该服务中如何处理您的信息。如本条款与特定服务的隐私指引/声明有不一致之处，请以该特定隐私指引/声明为准。<br/>请您注意，本条款不适用由其他公司或个人提供的服务。
                </p>
            </li>
            <li>
                <h4>十、本政策变更说明</h4>
                <p>
                    我们可能适时修订本条款内容。如变更会导致您在本条款下权利的实质减损，我们将在变更生效前，通过在页面显著位置提示、向您发送电子邮件等方式通知您。在该种情况下，若您继续使用我们的服务，即表示同意受经修订的条款约束。</p>
            </li>
        </ul>
    </div>

</div>
</body>
</html>